version: '3'
services:
  mongo-db:
    image: mongo
    container_name: mongo-db
    ports:
      - "27017:27017"

  node-app:
    build: .
    ports:
      - "4000:4000"
    depends_on:
      - mongo-db
