/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    color: black;
}

/* Navbar */
.navbar {
    background-color:white;
    color:black;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

/* Layout */
.container {
    width: 85%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

/* Cards */
.card {
    background: black;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/* Form */
input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: white;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4b4b5a;
}

/* Items List */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-left: 4px solid black;
}
